.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 81px;
      img{
        height: 55px;
        margin-left: 10px;
      }
      li{
        display: inline-block;
        height: 100%;
        font-size: 9px;
        text-transform: uppercase;
        font-weight: 700;
        margin: 0 10px;


        a{
          height: 100%;
          color: $color-darkgray;
          border-bottom: 4px solid transparent;
          padding: 36px 0;
          &.active{
            border-bottom-color: $color-blue;
            color: $color-blue;
          }
        }
      }
  }


  .jumbo{
    height: 300px;
    overflow: hidden;
  }
