.product-section{
    h2,h4{
      color: $color-blue;
    }
    color: lighten($color: $color-black, $amount: 30%);

    .product-box{
        min-height: 800px;
        padding: 50px  0;
        .up-box{
            margin-bottom: 50px;
            .image-box{
              img{
                  max-width: none;
                  height: 360px;
                }
            }
            .desc-box{
              padding-left: 30px;
              h2{
                margin-bottom: 30px;
              }
              p{
                margin-bottom:  110px;
              }
              .info-box{
                span{
                  display: block;
                  color: white;
                  background-color: $color-blue;
                  height: 30px;
                  padding: 0 20px;
                  line-height: 30px;
                  text-align: center;
                }
              }
            }
        }
      .bot-box{
        h4{
          padding-bottom: 20px;
          border-bottom: 1px solid lighten($color: $color-black, $amount: 30%);
        }
        .talent{
          width: 45%;
          margin-right: 30px;
          padding: 0 15px;
        }
        .specs{
          width: 45%;
          padding: 0 15px;
        }
        .lined{
          padding: 20px 0;
          border-bottom: 1px solid lighten($color: $color-black, $amount: 30%);
        }
      }
    }
}
